PORT=4000
WEB_URL=http://localhost:5174
VITE_API_URL=http://localhost:4000
MONGODB_URI=mongodb://127.0.0.1:27017/cardworld
MONGODB_DB=test
JWT_SECRET=dev-secret
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:4000/auth/discord/callback
VITE_IMAGE_BASE=http://152.69.195.48/images
